@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: 1000px;
  background-image: url("bg.jpg");
  background-position: center center;
}

.paper {
  background-image: url("paper.jpg");
  background-size: 300px;
  background-position: center center;
  padding: 70px 70px;
/*  min-width: 800px; */
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}
.paper.image {
  padding: 15px;
}
.paper.image p {
  font-size: 25px;
}

img {
  max-height: 300px;
  width: 100%;
  user-select: none;
}

p {
  font-family: 'Zeyada';
  font-size: 30px;
  color: rgb(0, 0, 0);
  opacity: 100;
  user-select: none;
  text-align: center;
  
  filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}
